$primary-light: #8bacda;
$primary-dark: #00fff7;

$secondary-dark: #0d192b; // Very dark blue (main BG)
$secondary: #14253d; // Very dark blue (card BG)
$secondary-light: #2f415b; // Very dark blue (line)
$white: #fff;
$black: #222;

/*
* Typography
* Font wights
*/
$default-font-size: 18px;
$font-display: "Outfit", sans-serif;
$thin: 300;
$regular: 400;
$semi-bold: 600;

/*
* Base
*/
$border-radius: 20px;
$sm-border-radius: 10px;
$md-border-radius: 50%;